* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body,
.btn,
h1,
.row,
.container,
span {
  touch-action: manipulation;
  overflow-x: hidden;
}

body {
  background-color: #c2cade;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header {
  margin-top: 4vh;
  text-align: center;
  color: #272f3d;
  font-size: large;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  font-size: 200px;
  padding: 10px;
  color: #272f3d;
}

.increase {
  background-color: #272f3d;
  outline: none;
  border: 1px solid #272f3d;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  color: #c2cade;
  cursor: pointer;
}

button {
  pointer-events: visible;
}

.btn {
  background: none;
  outline: none;
  border: 1px solid #272f3d;
  border-radius: 10px;
  color: #c2cade;
  padding: 3px;
  margin: 10px 0;
  cursor: pointer;
}

.reset {
  width: 70px;
  background-color: #272f3d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input {
  border: 2.5px solid;
  border-color: #272f3d;
  width: 70px;
  height: 4vh;
  background-color: #c2cade;
  color: #272f3d;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.3vh 0.2vw;
  margin: 10px 2vh;
}

input::placeholder {
  color: #272f3d;
}

input:focus {
  border-color: #272f3d;
  outline: none;
}

.set {
  background-color: #272f3d;
  color: #c2cade;
  width: 70px;
}

.row {
  position: relative;
  height: 10vh;
}

.footer {
  height: 5vh;
  width: 100vw;
  position: relative;
  bottom: 0vh;
  text-align: center;
  color: #c2cade;
  background-color: #272f3d;
  padding: 0.8vh 0;
}

/* @media (min-width: 768px) {
  .content {
    margin: 2vh 0;
  }
  .increase {
    margin: 2vh 0;
  }
  .row {
    margin: 2vh 0;
  }
} */
