* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body,
.btn,
h1,
.row,
.container,
span {
  touch-action: manipulation;
  overflow-x: hidden;
}

body {
  background-color: #c2cade;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 5vh;
  color: #272f3d;
}

span {
  font-size: 200px;
  padding: 10px;
  color: #272f3d;
}

button {
  pointer-events: visible;
}

.btn {
  background: none;
  outline: none;
  border: 1px solid #272f3d;
  border-radius: 10px;
  color: #c2cade;
  padding: 3px;
  margin: 10px 0;
  cursor: pointer;
}

.reset {
  width: 70px;
  background-color: #272f3d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input {
  border: 2.5px solid;
  border-color: #272f3d;
  width: 70px;
  height: 4vh;
  background-color: #c2cade;
  color: #272f3d;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.3vh 0.2vw;
  margin: 10px 2vh;
}

input::placeholder {
  color: #272f3d;
}

input:focus {
  border-color: #272f3d;
  outline: none;
}

.set {
  background-color: #272f3d;
  color: #c2cade;
  width: 70px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 12vh;
  width: 100vw;
  margin-top: 1 0vh;
}

.increase {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #272f3d;
  margin: 10px 0;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: #272f3d;
  text-align: center;
  color: #c2cade;
  padding: 1vh 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  h1 {
    position: absolute;
    z-index: 1;
    top: 1vh;
  }

  span {
    position: absolute;
    z-index: 1;
  }

  .increase {
    right: 10vw;
    position: absolute;
    z-index: 2;
  }
  .row {
    flex-direction: column;
    position: absolute;
    left: 10vw;
    top: 13vh;
  }

  #max {
    margin: 0;
    padding: 0;
    height: 10vh;
  }
}
