* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #c2cade;
}

.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #272f3d;
  margin: 30px 0;
}

span {
  font-size: 200px;
  padding: 10px;
  color: #272f3d;
}

.btn {
  background: none;
  outline: none;
  border: 1px solid #272f3d;
  border-radius: 10px;
  color: #c2cade;
  padding: 3px;
  margin: 10px 0;
  cursor: pointer;
  z-index: 2;
}

.reset {
  width: 70px;
  background-color: #272f3d;
}

.increase {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #272f3d;
  margin: 30px 0;
}

footer {
  height: 10vh;
  background-color: #272f3d;
  padding: 25px 0;
  width: 100vw;
  text-align: center;
}

small {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  h1 {
    position: absolute;
    z-index: 1;
    left: 10vw;
  }

  span {
    position: absolute;
    z-index: 1;
  }

  .increase {
    right: 5vw;
    position: absolute;
    z-index: 2;
  }

  .reset {
    right: 23vw;
    position: absolute;
    z-index: 2;
  }
}
